
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: hsl(235, 18%, 26%);
}


body{
    background-color: hsl(235, 18%, 26%); 
    position: relative; 
}
.incomplete{
    background-color: #fff;
    margin-inline: calc(50vw - 400px);
    margin-block: calc(50vh - 300px);
    padding: 1.2rem;
    border-radius: 4%;
    display: flex;
    box-shadow: 5px 5px 20px 5px  hsl(234, 29%, 20%);
}
.heading{
    margin-block-start: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: hsl(234, 29%, 20%);;
}
.container {
    width: calc(55% - 2rem);
}

.container img{
    width: 100%;
}
.one {
    padding-left: 1rem;
    width: 55%; 
    margin-inline-end: 2rem; 
}

.paragraph{
    margin-bottom: 1rem;
}

.list{
    margin-bottom: 1rem;
}

.list li{
    list-style: none;
    line-height: 2rem;
    align-items: center;
    text-align: start;
}

.list li img{
    margin-inline-end: 0.5rem;
    width: 1.5rem;
    margin-bottom: -0.4rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    margin-top: 1rem;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.normal{
    color: hsl(234, 29%, 20%); 
}

.dark{
   display: none;
}

.error{
    color: hsl(4, 100%, 67%);
}

.form input{
    padding: 1em;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0.5px solid hsl(231, 7%, 60%); 
    margin-bottom: 1rem;
}

.danger{
    padding: 1em;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0.5px solid hsla(4, 100%, 67%, 1);
    margin-bottom: 1rem;
    background-color: hsla(4, 100%, 67%, 0.2);
    color:hsl(4, 100%, 67%);
}



.subscribe {
    padding: 1em 3em;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.5em;
    font-weight:400;
    font-size: 1rem;
    cursor: pointer;
}

.subscribe:hover {
    background-color: #FF6155;
    color: #fff;
    padding-block: 1em;
    outline: none;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 20px 3px hsla(4, 100%, 67%, 0.6);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.mobile-img{
    display: none;
}

.completed{
    background-color: #fff;
    margin-inline: calc(50vw - 225px);
    margin-block: calc(50vh - 300px);
    padding: 3rem;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px 5px  hsl(234, 29%, 20%);
    position: absolute;
    z-index: 10; 
}

.dismiss {
    background-color: #FF6155;
    color: #fff;
    padding-block: 1em;
    outline: none;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 20px 3px hsla(4, 100%, 67%, 0.6);
    margin-top: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.img-1 {
    margin-bottom: 2rem;
}

.success-paragraph{
    margin-top: 1rem;
    font-size: 0.9rem;
}

.success-paragraph span {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.new{ 
    margin-top: 0;
}

.modal{
    background-color: hsl(235, 18%, 26%); 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.successful{
    visibility: visible;
    background-color: hsl(235, 18%, 26%); 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.attribution{
    color: #fff;
    font-size: 1rem;
}

.attribution a{
    color: #FF6155;
}

.hide {
    display: none;
}

@media (max-width: 375px){

    .incomplete{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin-inline: 0;
        margin-block: 0;
        padding: 0; 
        border-radius: 0;
        display: flex;
        box-shadow: 5px 5px 20px 5px  hsl(234, 29%, 20%);
        position: relative;
    }
    .container {
        width: 100%;
    }
    
    .container img{
        width: 100%;
    }
    .one {
        padding: 2rem;
        width: calc(90% - 2rem); 
        margin-inline: 0; 
        margin-top: 30vh;
    }
    .subscribe {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 1em;
        width: 100%;
        background-color: hsl(234, 29%, 20%);
        color: #fff;
        outline: none;
        border: none;
        border-radius: 0.5em;
        font-weight:400;
        font-size: 1rem;
        cursor: pointer;
    }
    .mobile{
        margin-top: -40vh;
        position: absolute;
        height: 10vh;
    }

    .mobile-img{
        display: block;
        width: 100%;
        margin-top: 40vh;
    }
    
    .desktop-img{
        display: none;
    }
    .completed{
        background-color: #fff;
        margin-inline: 0;
        margin-block: 0;
        padding: 3rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 20px 5px  hsl(234, 29%, 20%);
        position: absolute;
        z-index: 10; 
    }
    .dismiss {
        background-color:hsl(234, 29%, 20%);
        color: #fff;
        padding-block: 1em;
        outline: none;
        border: none;
        border-radius: 0.75rem;
        box-shadow: 5px 5px 20px 3px hsla(234, 29%, 20%, 0.5);;
        margin-top: 35vh;
        font-size: 1rem;
        cursor: pointer;
    }
    .attribution{
        display: none;
    }
    .hide {
        display: none;
    }
}